In [1]:
import numpy as np, random
from modsim import *

In [2]:
def event():
    a = random.randint(1,12)
    b = random.randint(1,12)
    c = random.randint(1,12)
    
    return a , b , c

In [3]:
def step(state,numbers,bias):
    
    avg = np.round(np.mean(numbers))
    all_eq = np.min(numbers) == np.max(numbers)
    
    if avg < 5:
        if all_eq:
            state[0] += 9 
        state[0] += bias
    elif avg > 4 and avg < 9:
        if all_eq:
            state[0] += 9 
        state[1] += 1
    else:
        if all_eq:
            state[2] += 9
        state[2] += bias

In [4]:
def game(state, rounds,bias):

    for i in range(rounds):
        step(state, event(),bias)
    return state.idxmax()

In [5]:
def simulation(state,times,rounds,bias=1):
    winners = state.copy()
    for i in range(times):
        copy = state.copy()
        winners[game(copy,rounds,bias)] += 1
        
    return winners

In [12]:
x = State(Pizza =0 ,Pasta =0, Hamburger = 0)

simulate_1 = simulation(x,1000,100) 
simulate_2 = simulation(x,1000,100,2) 
simulate_3 = simulation(x,1000,100,3) 
simulate_4 = simulation(x,1000,100,4)

In [13]:
simulate_1

Pizza           0
Pasta        1000
Hamburger       0
dtype: int64

In [14]:
simulate_2

Pizza         20
Pasta        969
Hamburger     11
dtype: int64

In [15]:
simulate_3

Pizza        192
Pasta        691
Hamburger    117
dtype: int64

In [16]:
simulate_4

Pizza        438
Pasta        239
Hamburger    323
dtype: int64